<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.memora"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <service
            android:name="com.example.memora.AudioRecorder"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_start" />
        </service>

        <activity
            android:name="com.example.memora.MenuActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/MenuTheme" >
        </activity>
        <activity
            android:name="com.example.memora.PhotoActivity"
            android:label="@string/title_activity_photo" >
        </activity>
        <activity
            android:name="com.example.memora.MomentsImmersion"
            android:label="@string/title_activity_timeline_card" >
        </activity>
    </application>

</manifest>
